$primaryColor: #4b4b4b;
$secondaryColor: #939393;
$bgColor: #ffff;
$borderColor: #cccc;
$primarySize: 32rpx;
$secondarySize: 24rpx;
$gap: 20rpx;
$imgLg: 230rpx;
$imgSm: 64rpx;
Page{
  background-color: #ededed;
}